<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    <display-name>nosakh-jax</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
        <cookie-config>
            <max-age>3600</max-age> <!-- 43200 seconds = 12 hours -->
        </cookie-config>

    </session-config>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>cmgrRealm</realm-name>
    </login-config>
</web-app>